<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grahp</title>
    <link rel = "stylesheet" href = "../static/css/styles2.css"
</head>
<body>

    <style>
        body
        {
          background-image: url({{ url_for("static", filename='images/second.jpg') }})
        }
    </style>


    <h1>Solved Equation Graphs</h1>

    {% include 'graph.html' %}

    <p></p>

    <button type="button" onclick="window.location.href='{{ url_for( 'math_buddy' ) }}';">Go back to Math Buddy</button>

</body>
</html>